<nav class="navbar navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" type="button" class="navbar-toggle collapsed" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-click="navBar.navigateToLanding($event)">
                <i class="icon icon-mkrb-logo mkrb-logo-mark"></i>
            </a>
        </div>

        <div class="collapse navbar-collapse" uib-collapse="navCollapsed" id="bs-example-navbar-collapse-6">
            <ul class="nav navbar-nav navbar-right">
                <li ng-repeat="navItem in navBar.navItems">
                    <a ng-class="{'active': navBar.navItems.active, 'active': navBar.navBarModel.currentBldgID == navBar.navItems[$index].buildingNumber}"
                       ng-click="navBar.viewBuilding(navBar.navItems[$index].buildingNumber)"
                       ng-href="#">
                        {{navBar.navItems[$index].label}} {{navBar.navItems[$index].buildingNumber}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
